<template name="chatInput">
  <section class="row chat-input-section">
    {{ #autoForm collection="Posts" id="chat-form" type="method" meteormethod="submitPost" }}
      <div class="chat-btns-container col-md-1">
        <div class="chat-btn-inner-container">

          <button type="button" class="chat-btn button button-green" data-toggle="modal" data-target="#password-modal">
            {{ #if hasPassword }}
              <i class="fa fa-lock chat-btn-icon-lock"></i>
            {{ else }}
              <i class="fa fa-unlock-alt chat-btn-icon-lock"></i>
            {{ /if }}

            <p class="chat-btn-text chat-btn-text-password">Password</p>
          </button>

          <label class="chat-btn button button-orange">
            <i class="fa fa-file-text"></i>
            <p class="chat-btn-text">File</p>
            <form method="post" class="file-input-form hidden" enctype="multipart/form-data">
              <input type="file" name="file" class="file-input">
            </form>
          </label>

        </div>
      </div>

      <div class="chat-input-container col-md-10">
        <textarea autofocus placeholder="Write your message here" class="chat-input form-control" rows="5" name="body.text" data-schema-key="body.text"></textarea>
        <input type="text" class="new-post-password-input hidden" name="password" data-schema-key="password">
        
        {{ #with uploadedFileInfo }}
          {{ #unless error }}

            <input type="text" class="chat-file-name-input hidden" name="body.file.name" data-schema-key="body.file.name" value="{{ name }}">
            <input type="text" class="chat-file-url-input hidden" name="body.file.url" data-schema-key="body.file.url">

            <div class="file-uploading-block">
              <span class="file-info">{{ name }}</span>
              <span class="file-info">{{ size }} KB</span>
              
              <progress class="file-progress-bar" value="0" max="1"></progress>

              <i class="fa fa-close file-remove"></i>
            </div>

          {{ else }}

            <div class="file-uploading-block has-error">
              <span class="file-info">There was an error uploading your file. Refresh the page and try again.</span>
            </div>

          {{ /unless }}
        {{ /with }}
      </div>
      
      <div class="chat-submit-container col-md-1">  
        {{ #if submitDisabled }}
          <button type="submit" class="chat-submit button-no-states" disabled>Send</button>
        {{ else }}
          <button type="submit" class="chat-submit button button-blue">Send</button>
        {{ /if }}
      </div>
    {{ /autoForm }}
  </section>
</template>
