<template name="mainChat">
  <section class="row chat-posts-section">

    <div class="chat-posts-container">

        {{ #each posts }}
          <div class="chat-post-container">
    
            <div class="chat-post">
              <div class="chat-color-container">
                <div class="chat-color"></div>
              </div>
    
              <div class="chat-body-container">
                <p class="chat-time">{{ formattedDate }}</p>
                {{ #if body }}

                  {{ #if body.file }}
                    <a class="chat-file-download chat-content-placeholder" href="{{ body.file.url }}">
                      <i class="fa fa-file-text-o"></i>
                      <p class="chat-file-name">{{ body.file.name }}</p>
                    </a>
                  {{ /if }}
                  <p class="chat-text">{{{ body.text }}}</p>

                {{ else }}

                  <form class="chat-password-form chat-content-placeholder">
                    <input type="password" class="chat-password-input" placeholder="Enter password">
                    <button type="submit" class="chat-password-btn">
                      <i class="fa fa-lock"></i>
                      <i class="fa fa-unlock-alt"></i>
                    </button>
                  </form>

                {{ /if }}
              </div>
            </div>
    
          </div>
        {{ /each }}

    </div>

    {{ #unless posts.count }}
      <div class="chat-posts-empty">Nothing here yet</div>
    {{ /unless }}

    <div class="new-msg-notification">New message <i class="fa fa-angle-double-down"></i></div>
  </section>

  {{ > chatInput }}
</template>
