<template name="mainChat">
  <section class="row chat-posts-section">
    {{ #if posts.count }}

      <div class="chat-posts-container">

          {{ #each posts }}
            <div class="chat-post-container">
      
              <div class="chat-post">
                <div class="chat-color-container">
                  <div class="chat-color"></div>
                </div>
      
                <div class="chat-body-container">
                  <p class="chat-time">{{ formattedDate }}</p>
                  <p class="chat-body">{{{ body.text }}}</p>
                </div>
              </div>
      
            </div>
          {{ /each }}

      </div>

    {{ else }}

      <div class="chat-posts-empty">Nothing here yet</div>

    {{ /if }}

    <div class="new-msg-notification">New message <i class="fa fa-angle-double-down"></i></div>
  </section>

  {{ > chatInput }}
</template>
